nav> ul{
    display: flex;
}
nav  li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: red;
    margin-right: 1em;
}

.dropdown{
    display: none;
    position: absolute;
}

nav>ul>li:hover .dropdown{
    display: block;
    background-color: midnightblue;
}
nav>ul>li:hover .dropdown.megamenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    background-color: midnightblue;
}
.megamenu h3{
    font-size: 16px;
    color: yellow;
    /* background: #120E43; */
    margin-bottom: 0px;
    text-align: center;
}