img{
    max-width: 30%;
    margin: auto;
    border-radius: 10px;
}
h1{
     color:saddlebrown ;
}

 /* +--------------------সিএসএস এ সব সময় নিচের কমান্ড এর প্রাইয়োরিটি বেশী  -----------------*/

h1{
    color:rgb(255, 106, 0) ;
}

/* ------------- এলিমেন্ট এর থেকে ক্লাস এর প্রাইয়োরিটি বেশী (যেখানেই বসুক)--------- */
.hi{
    color: slateblue;
}



/* ------------- ক্লাস এর থেকে আইডি এর প্রাইয়োরিটি বেশী (যেখানেই বসুক)--------- */
#hellow{
    background-color: #571845;
    color: oldlace;
}


.hi{
    color: red;
    background-color: navy;
}

p{
    border: 2px solid grey;
}

/* ------------- ইনার স্টাইল সিট থেকে বাহ্যিক সিএসএস এর প্রাইয়োরিটি বেশী (যেখানেই বসুক)--------- */








